*{
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

body{
	background:  url(img/bg-body.png) no-repeat 50% 0 #ffffff;
	font: 14px/1.5 Times, Helvetica, sans-serif;
	padding: 0px 0;
}

.wrapper{
	width: 950px;
	margin: 0 auto;
}

header h1{
	float: left;
	margin: 38px 0 0 42px;
}

nav{
	float: right;
	clear: right;
}

nav li{
	float: right;
	margin: 46px 30px 0 auto;
}

nav li a{
	color: #d8d8db;
	text-transform: uppercase;
	font-weight: raleway;
	font-weight: bold;
}

.text{
	min-height: 18em;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	color: #ffffff;
	transform: translate(-50%, -50%);
	font: 46px/1 open sans;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 700px 0 auto;
}